:root {
    --page-bg-color: #40e0d0;
    --page-bg60-color: #40e0d099;
    --page-bg30-color: #40e0d04e;
    --page-bg10-color: #40e0d01a;
    --page-h1-color: rgb(34, 3, 63);
    --page-h2-color: rgb(2, 2, 99);
    --page-links-color: rgb(197, 18, 107);
    --page-hover-color: rgba(17, 14, 189, 0.582);
    --page-button-color: rgb(33, 33, 150);
    --page-bfont-color: white;
}

/* this is styling the main header at the top of the page */
h1 {
    height: 50px;
    width: auto;
    color: var(--page-h1-color);
    filter: drop-shadow(2px 2px 1px #0f6a9e);
    text-align: center;
    background-color: var(--page-bg60-color);
    padding: 20px;
}

/* styling the body of the page */
body {
    background-color: var(--page-bg-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;

}

/* this is to style the side menu and body  */
body>div {
    flex-direction: row;
}

/* making a container for the side nav */
.container {
    display: flex;
}

/* targets side nav menu*/
.side-nav {
    min-width: 250px;
    height: 100%;
    position: absolute;
    top: 120px;
    left: 0;
    padding: 20px 30px;
    width: 20%;
}

/*  this gave proper layout to move main content to the right */
.mainpage {
    position: relative;
    left: 250px;
    width: 70%;
}

/* styling the list of links and position for nav */
.nav-links {
    list-style: none;
    position: relative;
}

/*  this is the styling for Contact Us on home page */
h2 {
    color: var(--page-h2-color);
    filter: drop-shadow(2px 2px 1px #0f6a9e);
    padding-top: 40px;
}

/* styling the look of the links in side nav */
a {
    color: var(--page-links-color);
    font-size: 12pt;
    text-decoration: none;
    font-weight: bold;
}

/*  this changes the color of the links when hovered over */
a:hover {
    color: var(--page-hover-color);
}

/*  styling images on page */
img {
    margin: 10px;
    border-radius: 1rem;
    box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.5);
}

/* styling the captions */
figcaption {
    color: black;
    text-align: center;
}

/*  styling the unordered lists */
ul {
    list-style-type: none;
    margin: 0;
}

/*  this affects the images on each page */
figure {
    display: inline-flex;
    grid-template-columns: none;
    grid-template-rows: 1;
}

figcaption {
    width: 0;
    min-width: 300px;
}

/*  sets the font for each paragraph */
p {
    font-size: 12pt;
}

/* all of the input sections below are for styling below "contact us" on homepage */
input[type=text] {
    padding: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type=email] {
    padding: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

input[type=button] {
    padding: 10px;
    border: none;
    background-color: var(--page-button-color);
    color: var(--page-bfont-color);
    font-weight: 600;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*  styling the table on the "good things to eat" page */
th,
td {
    padding: 5px;
    text-align: left;
}

th {
    font-size: 14pt;
}

td {
    font-size: 12pt;
}

/*  this food-pics tags were used for styling the photos on the Good Things to Eat page */
#food-pics {
    text-align: center;
    margin: 50px auto;
    flex-wrap: wrap;
}

#food-pics {
    margin: 0px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}

#food-pics2 {
    text-align: center;
    margin: 10px auto;
    flex-wrap: wrap;
}

#food-pics2 {
    margin: 0px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}

/*  the three below are for layout/styling of the lists of images in the visit and eat pages */

.places {
    padding: 0;
}

.places2 {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 0 0;
}

#captions {
    width: fit-content;
    text-align: center;
    margin: 10px auto;
    font-size: 10pt;

}

#captions a {
    margin: 0px 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.nav-menu {
    padding: 0;

}

.left {
    float: left;
    margin-right: 1em;
}