:root {
    --page-bg-color: #40e0d0;
    --page-bg60-color: #40e0d099;
    --page-bg30-color: #40e0d04e;
    --page-bg10-color: #40e0d01a;
    --page-h1-color: rgb(34, 3, 63);
    --page-h2-color: rgb(2, 2, 99);
    --page-links-color: rgb(197, 18, 107);
    --page-hover-color: rgba(17, 14, 189, 0.582);
    --page-button-color: rgb(33, 33, 150);
    --page-bfont-color: white;







}

h1 {
    height: 50px;
    width: 100%;
    color: var(--page-h1-color);
    filter: drop-shadow(2px 2px 1px #0f6a9e);
    text-align: center;
    background-color: var(--page-bg60-color);
    padding: 20px;
}

body {
    background-color: var(--page-bg-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;

}

body>div {
    flex-direction: row;
}

.container {
    display: flex;
}

/* targets side nav */
.side-nav {
    min-width: 250px;
    height: 100%;
    background-color: var(--page-bg60-color);
    position: fixed;
    top: 120px;
    left: 0;
    padding: 20px 30px;
    width: 20%;
}

.mainpage {
    position: relative;
    left: 300px;
}

.nav-links {
    list-style: none;
    position: relative;
}

h2 {
    color: var(--page-h2-color);
    filter: drop-shadow(2px 2px 1px #0f6a9e);
}

a {
    color: var(--page-links-color);
    font-size: 12pt;
    text-decoration: none;
}

a:hover {
    color: var(--page-hover-color);
}

img {
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.5);
}

figcaption {
    color: black;
    text-align: center;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

figure {
    display: inline-flex;
    grid-template-columns: 1fr;
    grid-template-rows: none;
}

figcaption {
    width: 0;
    min-width: 30%;
}

p {
    font-size: 12pt;
}

input[type=text] {
    padding: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

input[type=email] {
    padding: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

input[type=button] {
    padding: 10px;
    border: none;
    background-color: var(--page-button-color);
    color: var(--page-bfont-color);
    font-weight: 600;
    border-radius: 5px;
}

th,
td {
    padding: 5px;
    text-align: left;
}

th {
    font-size: 14pt;
}

td {
    font-size: 12pt;
}

#food-pics {
    text-align: center;
    margin: 50px auto;
    flex-wrap: wrap;
}

#food-pics {
    margin: 0px 20px;
    display: inline-flex;
    flex-wrap: wrap;
    color: black;
}

.left {
    float: ;
}

.places {
    display: inline-flex;
    flex-direction: row;
}